header {
    display:  flex;
    justify-content: space-between;
    margin-right: 100px;
    margin-left: 100px ;
    margin-top: 40px
  }
nav{
   
   margin-top:auto ;
   margin-bottom: auto;
    

  }
.activeLink{
    text-decoration: underline;
}
a{
    text-decoration: none;
    /* Accueil */



font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;



color: #FF6060;

}



nav a +a {
    margin-left: 57px;
}
