.button{
    width: 100%;
    background-color: #FF6060;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    padding-left: 20px;
    height: 52px;
    align-items: center;
    font-size: 18px;
    font-family: 'Montserrat';
    border:none;
}
.contenu{
    padding-top: 30px;
    padding-left:20px;
    padding-right: 12px;
    margin-top: -5px;
    font-size: 18px;
    font-family: 'Montserrat';
   padding-bottom:19px;
   margin-bottom: 30px;
    line-height: 142.6%;
    background-color: #F7F7F7;
    border-radius: 10px;
}
.contenant{
    margin-bottom: 30px;
    
}
@media (max-width: 768px) { 
.button{
    font-size: 13px;
    height: 30px;
}
.contenu{
    font-size: 12px;
}
}

