header {
    display:  flex;
    justify-content: space-between;
    width: 86%;
    margin-right: auto;
    margin-left: auto ;
    margin-top: 40px
  }
nav{
  
   margin-top:auto ;
   margin-bottom: auto;
    display: flex;

  }
.activeLink{
    text-decoration: underline;
}
a{
    text-decoration: none;
    



font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;



color: #FF6060;

}



nav a +a {
    margin-left: 57px;
}

.mobile{
    display: none;
   
}

@media (max-width: 768px) { 
    header {
    width: 90%;
  
    
    }
    .header img{
        width:40%
    }
    a{
        font-size: 12px;
    }
    nav a +a {
        margin-left: 10px;
    }
    .desktop{
        display: none;
    }
    .mobile{
        display: initial;
    }
 }

